@{
    ViewData["Title"] = "DI Showcase";
}
<h3>ISampleRequest @ViewData["sampleRequest"].</h3>
<h3>ISampleService @ViewData["sampleService"]</h3>


<h3>sampleTransient.ISampleRequest @ViewData["sampleTransient.request"]</h3>
<h3>sampleTransient.ISampleService @ViewData["sampleTransient.service"]</h3>

<h3>ISampleSingleton @ViewData["sampleSingleton"]</h3>
<h3>SampleWithoutInterface @ViewData["sampleWithoutInterface"]</h3>